.product-info {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.product-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #009688;
  color: #fff;
}

th {
  font-weight: bold;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #009688;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #00796b;
}
.sales {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.sales h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.form-group {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select,
input[type="number"],
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #009688;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #00796b;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #009688;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #00796b;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-button {
  background-color: #009688;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.nav-button:hover {
  background-color: #00796b;
}

#prediction-screen {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.prediction {
  background-color: #fff;
}

.prediction h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.file-drop {
  border: 2px dashed #ccc;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.file-drop p {
  margin: 0;
}

.file-drop input[type="file"] {
  display: none;
}

.button {
  background-color: #009688;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.button:hover {
  background-color: #00796b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: sans-serif;
}

.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #03a9f4;
}

.login-box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 40px;
  transition: all 0.5s;
}

.login-box input[type="submit"]:hover {
  background: #fff;
  color: #222;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.resultado {
  margin-top: 30px;
}

.resultado h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.resultado p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.resultado .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.resultado .button:hover {
  background-color: #45a049;
}

  
  